<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burgers!</title>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  		<script src="https://code.jquery.com/jquery.js"></script>
  		<script src="/assets/js/burger.js"></script>
	</head>

	<body>
		{{{ body }}}

		 <script type="text/javascript">
    $(document).on("click", ".eatBurger", eatBurger);
    $(document).on("click", ".makeBurger", makeBurger)
    function eatBurger() {
        let id = $(this).data("id")
        let eaten = {devoured: 1}
        $.ajax("/api/burgers/" + id, {
            method: "PUT",
            data: eaten
        }).then(function(){
            console.log("Burger status changed")
            location.reload()
        })
    }
    function makeBurger() {
        let id = $(this).data("id")
        let eaten = {devoured: 0}
        $.ajax("/api/burgers/" + id, {
            method: "PUT",
            data: eaten
        }).then(function(){
            console.log("Burger status changed")
            location.reload()
        })
    }
    </script>
	</body>
	
</html>
