<h1>Burger!</h1>

<h2>Eat the burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <h2>{{this.burger_name}}</h2>
    <button class="eatBurger" data-id="{{this.id}}">Eat the Burger</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <h2>{{this.burger_name}}</h2>
      <button class="makeBurger" data-id="{{this.id}}">Make the Burger</button>
    {{/if}}
  {{/each}}
</ul>

<script type="text/javascript">
$(function () {
  $(".devour").on("click", function (event) {
    let id = $(this).data("id");
    let devoured = true;
    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: devoured
    }).then(
      function () {
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  // following code is for adding a new burger
  $(".create-form").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    let newBurger = {
      burger_name: $("#bgr").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
});
</script>