<h1>Burger!</h1>

<h2>Eat the burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <h2>{{this.burger_name}}</h2>
    <button class="eatBurger" data-id="{{this.id}}">Eat the Burger</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <h2>{{this.burger_name}}</h2>
      <button class="makeBurger" data-id="{{this.id}}">Make the Burger</button>
    {{/if}}
  {{/each}}
</ul>
